a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

li {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.skills{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    text-align: justify;
}
.title{
    top: 40px;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 1%;
    font-size: larger;
    color: rgba(103, 24, 3, 0.731);
    padding: 5px;
    border: 5px, brown, double;
    text-align: center;    
}

.sectitle{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: brown;
    font-size: 30px;
    text-decoration: underline;
    font-weight: bold;
    
}

.container{
    background-color: honeydew;
}
.video {
    position: absolute;
    margin: auto;
    top: 330%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.content{
    font-size: 20px;
}
.imagealign{
    display:inline-block;
    width: 200px;
    height: auto;
}
.bold{
    font-weight: bolder;
}
.space{
    margin-bottom: 390px;
}
